<div class="col-lg-4 col-md-6 mt-5">
      <div class="card">
        <img class="card-img-top", src={{ "/assets/img/me-xl.png" | relative }} ></img>
        <div class="card-body">
          <div class="card-title display-4">
            About
          </div>
          <p class="card-text">
          My name is Colton Kinstley. I live in Bristol, United Kingdom with my partner Emily (see picture above.) I was born in Texas, USA which is also the location of <a href="http://www.uh.edu/nsm/math">The University of Houston</a> where studied mathematics. I am interested in mathematics, data science and statistics.
          </p>
          <p>Have a look at my CV or something more academically focused if you like.</p>
          <div class="container">
            <a href="{{ "/assets/ckinstley_cv.pdf"| relative }}" class="btn btn-primary mx-1">CV .pdf</a>
            <a href="{{ "/assets/ckinstley_academic.pdf"| relative }}" class="btn btn-primary mx-1">Academic .pdf</a>
          </div>

        </div>
      </div>
    </div>
