<div class="col-lg-4 col-md-12 mt-5">
      <div class="card">
        <a href="{{ site.posts[0].url }}">
          <img class="card-img-top", src={{ "/assets/img/blog-lg.png" | relative }} ></img>
        </a>
        <div class="card-body">
          <div class="card-title">
            <span class="display-4"><a class="link-unstyled" href="{{ site.posts[0].url }}">Blog</a></span>
              {% capture post_time %}{{ site.posts[0].time | date: "%s" }}{% endcapture %}
              {% capture last_post_age_str %}{{ "now" | date: "%s" | minus: post_time }}{% endcapture %}
              {% assign last_post_age = last_post_age_str | plus: 0 %}
              {% if last_post_age < 605000 %}
                <a class="link-unstyled" href="{{ "/blog" | relative }}"><span class="badge badge-pill badge-info">New</span></a>
              {% endif %}
          </div>
          <div class="card-text">
            I have written a few things and put them here.

            For good mathematical content please see:
            <ul>
                <li><a href="https://mathyawp.wordpress.com/2017/01/08/mathematics-for-human-flourishing/">Mathematics for Human Flourishing</a</li>
                <li><a href="http://chalkdustmagazine.com">Chalkdust magazine</a</li>
                <li><a href="http://www.math3ma.com">math3ma</a</li>
                <li><a href="https://www.quantamagazine.org">Quanta magazine</a</li>
                <li><a href="https://aperiodical.com">The Aperiodical</a</li>
                <li><a href="https://www.youtube.com/3blue1brown">3blue1brown</a</li>
                <li><a href="https://www.youtube.com/mathologer">Mathologer</a</li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
